<div id="sidebar" class="sidebar">
  <h3>React</h3>
  <small>React v{{site.react_version}}</small>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/why-react">Porquê React?</a></li>
    <li><a href="/jsx/">Entenda o JSX</a></li>
    <li><a href="/components/">Componentes</a></li>
    <!--
    <li><a href="/inputs/">Inputs</a></li>
    <li><a href="/outputs/">Outputs</a></li>
    <li><a href="/templates/">Templates</a></li>
    <li><a href="/viewChild/">ViewChild</a></li>
    -->
    <li><a href="/lifecycle/">Lifecycle</a></li>
    <li><a href="/events/">Eventos</a></li>
    <li><a href="/forms/">Formulários</a></li>

    <li class="group"><a href="/es6">ES6/ES7/FlowType</a>
      <ul>
        <li><a href="/es6/">O que é ES6 ?</a></li>
        <li><a href="/es6/variables/">Variáveis</a></li>
        <li><a href="/es6/classes/">Classes</a></li>
        <li><a href="/es6/template-strings/">Template Strings</a></li>
        <li><a href="/es6/arrow-functions">Arrow Functions</a></li>
        <li><a href="/es6/promises">Promises</a></li>
        <li><a href="/es6/async-await">Async/Await</a></li>
      </ul>
    </li>
  </ul>
</div>
